<section class="home">
  <div class="welcome">Welcome to mobile vote!
    <br/>Create an account, sign in and vote!
    <br/>We will take care of the rest! 
  </div>
  <div class="navbar">
      <div class="nav-item">
        <h3>Return User</h3>
        <a href="/accounts/login">Sign In</a>
      </div>
      <div class="nav-item">
        <h3>New User</h3>
        <a href="/accounts/register">Register</a>
      </div>
  </div>
</section>